<% var data = {
title: "Daria Lazovskaya"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="mainBlock expectBlock">
    <div class="mainBlockContent">
        <h2 class="blackTitle">
            Ожидания от ШРИ
        </h2>
        <div class="expectRow">
            <div class="expectItem">
                <p class="expectTitle expectTitleActive">Знакомство с новыми технологиями</p>
                <p class="mainText expectText expectTextActive">В фронтенде очень много различных технологий, и хотелось бы знать большинство из них, чтобы имень больше способов решения задач
                    и понимать какой из них подходит больше.</p>
            </div>
            <div class="expectItem">
                <p class="expectTitle">Систематизация знаний</p>
                <p class="mainText expectText">Хотелось бы систематизировать и дополнить свои знания в фронтенде. Научиться чему-то у опытных разработчиков.</p>
            </div>
            <div class="expectItem">
                <p class="expectTitle">Трудоустройство</p>
                <p class="mainText expectText">ШРИ может дать хороший старт для карьеры в Яндексе и  множество возможностей.</p>
            </div>
            <div class="expectItem">
                <p class="expectTitle">Опыт</p>
                <p class="mainText expectText">Любые курсы, стажировки и даже тестовые задания - это опыт. А опыт это важная состовляющая любой деятельности.</p>
            </div>
        </div>
    </div>


</div>
<div class="mainBlock worksBlock">
    <div class="mainBlockContent">
        <h2 class="whiteTitle">
            Мои работы
        </h2>
        <p class="worksBlockText">Собраны избранные реально работающие проекты</p>
        <div class="worksRow">
            <div class="workItem">
                <p class="workTitle">Личный сайт</p>
                <a href="https://dasc.jenesius.com/" target="_blank" class="workLink">https://dasc.jenesius.com/</a>
                <div class="workImg">
                    <img src="../../img/work1.png">
                </div>
                <div class="workInfo">
                    <p class="workText">
                        Сайт с информацией обо мне: увлечения, скилы, работы, фото, контакты. Сделан за день на простых HTML, CSS, JS.
                    </p>
                    <div class="workSwitcher">
                        <div class="switchCircle switchCircleActive"></div>
                        <div class="switchCircle"></div>
                        <div class="switchCircle"></div>
                        <div class="switchCircle"></div>
                    </div>
                </div>
            </div>
            <div class="workItem">
                <p class="workTitle">Map application</p>
                <a href="https://github.com/oDASCo/map-app" target="_blank"  class="workLink">https://github.com/oDASCo/map-app</a>
                <div class="workImg">
                    <img src="../../img/work2.png">
                </div>
                <div class="workInfo">
                    <p class="workText">
                        Небольшое React-приложение с использование Google Maps API.
                    </p>
                    <div class="workSwitcher">
                        <div class="switchCircle switchCircleActive"></div>
                        <div class="switchCircle"></div>
                        <div class="switchCircle"></div>
                        <div class="switchCircle"></div>
                    </div>
                </div>
            </div>
            <div class="workItem">
                <p class="workTitle">Сайт 3d-принтеров</p>
                <a href="https://3d-printing-3d-printers.000webhostapp.com/" target="_blank" class="workLink">https://3d-printing-3d-printers.000webhostapp.com/</a>
                <div class="workImg">
                    <img src="../../img/work4.png">
                </div>
                <div class="workInfo">
                    <p class="workText">
                        Фриланс.
                    </p>
                    <div class="workSwitcher">
                        <div class="switchCircle switchCircleActive"></div>
                        <div class="switchCircle"></div>
                        <div class="switchCircle"></div>
                        <div class="switchCircle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html'))(data) %>